<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
<head>
    <style>
        @font-face {
            font-family: 'OCRFont';
            src: url('/static/fonts/OCR.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        
        @media print {
            body {
                background-color: white !important;
                margin: 0 auto;
            }
        }

        .id-card {
            position: relative;
            width: 300px;
            margin: auto;
            /* height: 200px; */
        }

        .id-card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .id-info {
            position: absolute;
            top: 50px;
            left: 20px;
            color: #000000;
        }

        p {
            font-family: OCRFont;
            color: #000000;
            font-weight: 600;
            font-size: 11px;
        }

        .details {
            margin-left: 60px;
            margin-top: 15px;
            text-transform: uppercase;
        }

        .givennames {
            margin-top: 10px;
        }

        .dob {
            margin-top: 15px;
        }

        .gender {
            margin-left: 17px;
        }

        .nin {
            color: #000000;
            font-weight: 600;
            margin-top: 19px;
            margin-left: 0px;
            text-align: center;
            font-family: OCRFont;
            font-size: 26px;
        }

        .state {
            color: #000000;
            margin-top: -25px;
            margin-left: 205px;
            font-size: 10px;
            text-align: center;
            font-family: OCRFont;
            font-weight: 600;
        }

        .photo {
            position: absolute;
            top: 58px;
            left: 12px;
            max-width: 61px;
            max-height: 84px;
        }

        .qrcode {
            position: absolute;
            top: -31px;
            left: 196px;
            max-width: 57px;
            max-height: 85px;
        }

        .qrcode img {
        	margin: 2px;
        	position: relative;
        	width: 68px;
        	height: 68px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Teeskid">
    <title><%= data.ninNumber %> - NIN Verification Result</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://idpass.com/assets/images/favicon.png">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
        rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/app.css">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->

    <link rel="stylesheet" type="text/css" href="https://idpass.com.ng/assets/css/pages/app-invoice.css">
</head>

<body class="vertical-layout vertical-menu 1-column pace-done menu-expanded" data-open="click" data-menu="vertical-menu"
    data-col="1-column">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99"
            style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="form-components">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">NIN Premium ID</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row invoice-view-wrapper">
                                            <div class="col-12">
                                                <div class="card invoice-print-area">
                                                    <div class="id-card">
                                                        <img src="https://idpass.com.ng/assets/images/verifications/nin_premium_id2.jpg"
                                                            alt="Landscape ID">
                                                        <img src="<%= data.photoData %>" alt="" class="photo">
                                                        <div class="id-info">
                                                            <div class="details">
                                                                <p class="surname"><%= data.lastName %></p>
                                                                <p class="givennames"><%= data.firstName %> </p>
                                                                <p class="dob"><%= data.dateOfBirth %> <span class="gender">m</span>
                                                                </p>
                                                            </div>
                                                            <h6 class="state text-center"><%= data.issueDate %></h6>
                                                            <h5 class="nin text-center"><%= data.ninNumber %></h5>
                                                            <div class="qrcode">
                                                            	<img src="/static/qrcode.svg" />
	                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 mt-1 invoice-action-wrapper"
                                                style="background-color: white;">
                                                <hr>
                                                <div class="invoice-action-btn">
                                                    <button class="btn btn-primary btn-md invoice-print" onclick="window.print()">
                                                        <span>Print</span>
                                                    </button>
                                                    <a href="https://techify.ng/dashboard"
                                                        class="btn btn-danger btn-md">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
