<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<head>
    <style>
        @font-face {
            font-family: 'OCRFont';
            src: url('https://techify.ng/static/fonts/OCR.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @media print {
            body {
                background-color: white !important;
                margin: 0 auto;
            }
        }

        .id-card {
            position: relative;
            width: 300px;
            margin: auto;
            /* height: 200px; */
        }

        .id-card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .id-info {
            position: absolute;
            top: 50px;
            left: 20px;
            color: #000000;
        }

        p {
            font-family: OCRFont;
            color: #000000;
            font-weight: 600;
            font-size: 11px;
        }

        .details {
            margin-left: 60px;
            margin-top: 15px;
            text-transform: uppercase;
        }

        .givennames {
            margin-top: 10px;
        }

        .dob {
            margin-top: 15px;
        }

        .gender {
            margin-left: 17px;
        }

        .nin {
            color: #000000;
            font-weight: 600;
            margin-top: 19px;
            margin-left: 0px;
            text-align: center;
            font-family: OCRFont;
            font-size: 26px;
        }

        .state {
            color: #000000;
            margin-top: -25px;
            margin-left: 205px;
            font-size: 10px;
            text-align: center;
            font-family: OCRFont;
            font-weight: 600;
        }

        .photo {
            position: absolute;
            top: 58px;
            left: 12px;
            max-width: 61px;
            max-height: 84px;
        }

        .qrcode {
            position: absolute;
            top: -31px;
            left: 196px;
            max-width: 57px;
            max-height: 85px;
        }

        .qrcode img {
            margin: 2px;
            position: relative;
            width: 68px;
            height: 68px;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Teeskid">
    <title>
        <%= ninNumber %> - NIN Verification Result
    </title>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
        rel="stylesheet">
</head>

<body>
    <div class="id-card">
        <img src="https://techify.ng/static/img/nin_premium_id2.jpg" alt="Landscape ID">
        <img src="<%= photoData %>" alt="" class="photo">
        <div class="id-info">
            <div class="details">
                <p class="surname">
                    <%= lastName %>
                </p>
                <p class="givennames">
                    <%= firstName %>
                </p>
                <p class="dob">
                    <%= dateOfBirth.getFullYear() %> <span class="gender">
                            <%= gender %>
                        </span>
                </p>
            </div>
            <h6 class="state text-center">
                <%= issueDate.getFullYear() %>
            </h6>
            <h5 class="nin text-center">
                <%= ninNumber %>
            </h5>
            <div class="qrcode">
                <img src="<%= qrCodeData %>" />
            </div>
        </div>
    </div>
</body>

</html>